*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer, header, nav, section {
    display: block;
}

.nav:after {
    clear: both;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

/* ---------- Navigation Bar ---------- */
header {
    position: relative;
    background-color: #6B7A8F
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 299;
}

.nav {
    list-style: none;
    padding: 30px 10px;
    float: right;
}

.nav li {
    float: left;
    margin-right: 20px
}

.nav li a {
    color: #FFF;
    text-decoration: no-underline
}